# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider / VSCode
.vs/
*.csproj
*.sln
*.user
*.pidb
.vscode/

# OS-specific
.DS_Store
Thumbs.db
